* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, "sans-serif";
}

:root {
  --primary: #007FFF;
  --primaryDark: #17224D;
  --primaryLight: #17E9E1;
  --primaryWhite: #F5FAFA;
  /* --primaryWhite: #f5fafa00; */

  --greyDark: #495057;
  --grey: #74788d;
  --greyLight: #adb5bd;

  --bg: #f8f9fa;
  --bgDark: #eff0f2;
}