* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;;
}

:root {
  --primary: #007FFF;
  --primaryDark: #17224D;
  --primaryLight: #17E9E1;
  --primaryLightAlpha: #17E9E110;

  --iconAlpha: #17E9E120;
  --primaryWhite: #F5FAFA;
  --primaryWhiteTwo: #e9f8f8;
  
  --green: #49B265;
  --redAlpha: rgba(243, 11, 11, 0.163);
  --blueAlpha: rgba(33, 18, 236, 0.163);
  /* --primaryWhite: #f5fafa00; */

  --greyDark: #495057;
  --grey: #74788d;
  --greyLight: #adb5bd;

  --bg: #f8f9fa;
  --bgDark: #eff0f2;
}